<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="https://demo.redhat.com" target="_blank">
        <img src="{{uiRootPath}}/img/logo-demo-platform.svg" alt="Red Hat Demo Platform" class="navbar-logo-img">
      </a>
      <a class="navbar-item site-title" target="_blank" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs">
          </div>
        </div>
        {{/if}}
        {{#if page.attributes.links}}
        <div class="navbar-item navbar-item-right-dropdown has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown navbar-dropdown-right">
            {{#each page.attributes.links}}
            <a class="navbar-item navbar-item-right-content" href="{{this.url}}" target="_blank">{{this.text}}</a>
            {{/each}}
          </div>
        </div>
        {{/if}}
        {{#if page.attributes.user}}
        <div class="navbar-item">You are {{page.attributes.user}}</div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
